.footer {   
    z-index: 2;
    background-color: #f3910c;
}

.call-me {
    padding-left:0!important;
    color:black!important
  }

  .contact-icon {
    height:18px;
    margin-top: -5px;
  }
  
  .contact-navlink {
    height:30px;
  }
  
  .contact-navlink img {
    padding-right: 0px;
  }