.nav-list {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-list li {
  margin-right: 15px;
}

a.current {
  color: #fff!important;
}

.principal-navlink a{
  color: black;
}

.principal-navlink .nav-link:hover {
  color: #fff!important;
  /* text-shadow: 1px 1px 2px black; */
}

.call-me {
  padding-left:0!important;
  color:black!important
}

.contact-icon {
  height:18px;
  margin-top: -2px;
}

/*
.contact-navlink {
  height:30px;
} */

.contact-navlink img {
  padding-right: 0px;
}